@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-body: rgb(61, 243, 61);
    --fonte-principal: "Roboto", serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

body{
    width: 98.5vw;
    background-color: var(--cor-body);
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
}

main{
    width: 90%;
    height: 1000px;
    padding: 30px 0; 
}

.linha{
    width: 100%;
    height: 40%;
    display: flex;
    gap: 5%;
}

.coluna{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label-input{
    display: flex;
    flex-direction: column;
}

.label-input input,select{
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline: none;
}

form{
    width: 100%;
    height: 100%;
}

.btn-enviar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.btn-enviar input{
    width: 40%;
    border-radius: 15px;
    border: none;
    padding: 10px;
    font-size: 20px;
    transition: .5s ease-in-out;
}

.btn-enviar input:hover{
    background-color: gray;
    color: wheat;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}